.menu {
  position: fixed;
  top: 90vh;
  left: 28.5vw;
  width: 43vw;
  height: 8vh;
  border-radius: 20px;
  background-color: whitesmoke;
  opacity: 0.85;
  display: none; /* hidden by default */
}

.menu.visible {
  display: flex; /* show when visible */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu li {
  font-size: 1vw;
  display: inline-flex;
  width: 6vw;
  padding: 5px;
  align-items: center; 
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  list-style: none;
  margin: 0 1vw 0 1vw;
  background-color: white;
  opacity: 1;
  font-family: cursive;
  color: black;
  transition: all 0.3s ease;
}

.menu li:hover {
  scale: 1.3;
  color: white;
  background-color: black;
}

.aboutMe{
  display: inline-block;
  width: 100%;
  height: 70vh;
  text-align: center;
  flex-wrap: wrap;
  background-color: green;
}

.aboutMeHeading{
  display: inline-block;
  margin: 10vh auto;
  width: 60vw;
  font-size: xx-large;
  background-image: linear-gradient(90deg, aliceblue , whitesmoke,white);
  background-clip: text;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  animation: aboutMeScrollReveal linear forwards;
  animation-timeline: view();
  animation-range-start: cover 10.5vh;
  animation-range-end: cover 30.5vh;
  color: hsl(0 0% 100% /0.2);
}
.aboutMeData{
  width: 75%;
  height: max-content;
  margin: 20px auto;
}
.aboutMeData span{
  display: inline;
  font-size: larger;
  background-image: linear-gradient(90deg, aliceblue , whitesmoke,white);
  background-clip: text;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  animation: aboutMeScrollReveal linear forwards;
  animation-timeline: view();
  animation-range-start: cover 30.5vh;
  animation-range-end: cover 70vh;
  color: hsl(0 0% 100% /0.2);
}
@keyframes aboutMeScrollReveal {
  
  to{
    background-size: 100% 100%;
  }
}
