@keyframes gradientMove {

    
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%;;scale: 1.1; }
    
}

@keyframes gradientScrollDown {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

@keyframes scaleChanger {
  0% { transform: translateX(-50%) scale(1); }
  50% { transform: translateX(-50%) scale(1.3); }
  100% { transform: translateX(-50%) scale(1); }
}
